<html>
<head>
    <link href="login.css" rel="stylesheet">
    <title>İzin Formu - Giriş</title>
    <link rel="shortcut icon" href="logo.ico" />
    <link href="bootstrap.css" rel="stylesheet">
</head>

<body>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-md-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="index.html" method="get">
                            <div class="row-xs">
                                <img src="ArtiSoft.jpg" class="logo">
                            </div><br />
                            <div class="row">
                                <div class="col-4">
                                    <label for="username" style="float:right;">Kullanıcı Adı:</label>
                                </div>
                                <div class="col-8">
                                    <input style="width:300px" type="text" name="username" id="username" class="form-control">
                                </div>

                            </div><br />
                            <div class="row">
                                <div class="col-4">
                                    <label for="password" style="float:right;">Şifre:</label>
                                </div>
                                <div class="col-8">
                                    <input style="width:300px" type="password" name="password" id="password" class="form-control">
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col">

                                </div>
                                <div class="col">
                                    <label>
                                        <input id="remember-me" name="remember-me" class="form-check-input me-1" type="checkbox" value="">
                                        Beni Hatırla
                                    </label>
                                </div>
                                <div class="col">
                                    <input type="submit" class="btn btn-primary" value="Giriş yap">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>